<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.felip.smgproyect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetailRegistryTemp"></activity>
        <activity android:name=".DetailRegistryLight" />
        <activity android:name=".DetailRegistryHR" />
        <activity android:name=".EditUser" />
        <activity android:name=".CreateUser" />
        <activity android:name=".ListCreatedUsers" />
        <activity android:name=".DetailRegistryHS" />
        <activity android:name=".AdminMenu" />
        <activity android:name=".IndicatorsMenu" />
        <activity android:name=".UserMenu" />
        <activity
            android:name=".ui.login.IntroMenu"
            android:label="@string/title_activity_intro_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>